@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    font-size: 15px;
    font-family: Hiragino Kaku Gothic ProN,ヒラギノ角ゴ ProN W3,Noto Sans JP,YuGothic,Yu Gothic,sans-serif;
    background-image: url('../img/background-gray.png');
    background-repeat: repeat;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
}

.header {
    position: fixed;
    width: 100%;
    padding: 35px;
}
.header__inner {
    display: flex;
    align-items: center;
}
.header__title {
    line-height: 1px;
    margin-left: 30px;
}
.header__logo {
    height: 17px;
}
.header__menu {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}
.header__link {
    margin-right: 50px;
    color: #000;
}

.footer {
    padding: 60px 35px;
    background-color: #262626;
    color: #eee;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
}
.footer__heading {
    width: 30%;
    text-align: center;
}
.footer__logo {
    height: 17px;
}
.footer__body {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.footer__links {
    width: 47%;
}
.footer__link {
    margin-bottom: 30px;
}
.footer__link-text {
    margin-left: 10px;
}
.footer__docs {
    width: 47%;
}
.footer__doc {
    margin-bottom: 30px;
}
.footer__copy {
    font-size: 12px;
    text-align: center;
}

.button {
    display: block;
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border: solid 1px #333;
}
.button:hover {
    background-color: #fff;
    color: #333;
}
.button__link {
    color: #fff;
}

#home {
    .mainvisual {
        background-image: url('../img/mainvisual.png');
        background-size: cover;
        height: 100vh;
        margin-bottom: 200px;
    }
    .mainvisual__inner {
        padding-top: 150px;
        padding-left: 180px;
    }
    .mainvisual__title {
        font-size: 70px;
        text-shadow: 1px 1px 3px #898989;
        font-style: italic;
        margin-bottom: 80px;
    }
    .mainvisual__content {
        color: white;
        text-shadow: 0px 1px 2px #bab9b9;
        font-size: 17px;
        line-height: 40px;
    }

    .index-title {
        display: flex;
        font-size: 15px;
        margin-bottom: 50px;
    }
    .index-title__en {
        margin-right: 30px;
    }

    .company {
        margin-bottom: 200px;
    }
    .company__inner {
        padding: 0 100px;
        display: flex;
        justify-content: space-between;
    }
    .company__content-wrapper {
        width: 42%;
        margin-left: 100px;
    }
    .company__img {
        width: 42%;
        object-fit: contain;
    }
    .company__body {
        padding-left: 60px;
    }
    .company__body-title {
        font-size: 30px;
        font-style: italic;
        font-weight: bold;
        border-top: 0.5px solid #333;
        margin-bottom: 20px;
    }
    .company__body-text-wrapper {
        line-height: 30px;
        margin-bottom: 30px;
    }


    .service {
        margin-bottom: 200px;
    }
    .service__inner {
        padding: 0 100px;
        display: flex;
        justify-content: space-between;
    }
    .service__content-wrapper {
        width: 42%;
    }
    .service__img {
        width: 42%;
        height: 500px;
        object-fit: cover;
        margin-left: 100px;
    }
    .service__body {
        padding-left: 60px;
    }
    .service__body-title {
        font-size: 30px;
        font-style: italic;
        font-weight: bold;
        border-top: 0.5px solid #333;
        margin-bottom: 20px;
    }
    .service__body-text-wrapper {
        line-height: 30px;
        margin-bottom: 30px;
    }
}

#company {
    .company-wrapper {
        padding: 200px 35px 0px 120px;
    }

    .page-title {
        display: flex;
        font-size: 15px;
        margin-bottom: 50px;
    }
    .page-title__en {
        margin-right: 30px;
    }

    .company__body {
        margin-left: 60px;
    }
    
    .top-view {
        margin-bottom: 30px;
    }
    .top-view__title {
        font-size: 60px;
        font-style: italic;
        font-weight: bold;
        margin-bottom: 60px;
    }
    .top-view__img {
        margin-bottom: 30px;
    }

    .profile {
        margin-bottom: 80px;
        dl {
            display: flex;
            flex-wrap: wrap;
            dt {
                display: inline-block;
                width: 20%;
                border-top: solid 1px #ccc;
                padding: 20px;
            }
            dd {
                display: block;
                width: 80%;
                border-top: solid 1px #ccc;
                padding: 20px;
            }
        }
    }
    .profile__title {
        margin-bottom: 30px;
    }

    .ceo {
        position: relative;
        margin-bottom: 300px;
    }
    .ceo__img {
        position: absolute;
        top: -60px;
        left: -30px;
        z-index: -1;
    }
    .ceo__message {
        width: 50%;
        height: 95%;
        background-color: #fff;
        padding: 30px;
    }
    .ceo__message-title {
        font-size: 15px;
        margin-bottom: 30px;
    }
    .ceo__message-summary {
        font-size: 30px;
        font-style: italic;
        font-weight: bold;
        border-top: 0.5px solid #333;
        margin-bottom: 20px;
    }
    .ceo__message-text {
        line-height: 30px;
        margin-bottom: 20px;
    }
    .ceo__profile-name {
        margin-left: 20px;
        font-size: 30px;
        font-weight: bold;
        font-style: italic;
    }
}

@media (max-width:767px) {

}